@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$mainfont: 'Montserrat', sans-serif;
$maincolor: #3a80ba;
$secondcolor: #1c3b55;
$fontsize: 11px;

// DEVICESIZE
$mobileS: '320px';
$mobileM: '375px';
$mobileL: '425px';
$tablet: '768px';
$laptop: '1024px';
$laptopL: '1440px';
$desktop: '2560px';
