.mainpage {
  height: 100%;

  & .curveTopImg,
  & .curveBottImg {
    position: absolute;
    left: 0;
    width: 120%;
    max-height: 450px;
    z-index: -10;
  }

  & .curveTopImg {
    top: 0;
    min-height: 400px;
  }

  & .curveBottImg {
    bottom: 0;
    max-height: 160px;
    min-height: 135px;
  }
}

.service-title {
  max-width: 780px;
  margin: 0 auto;

  & h3 {
    max-width: 500px;
    margin: 0 auto;
  }

  & p {
    color: #7e7e7e;
    margin-bottom: 2.4rem;
  }
}

.subscribe-form {
  // box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  min-width: 250px;
  width: 80%;
  max-width: 580px;
  height: 3rem;
  margin: 0 auto;
  padding: 4px;
  display: flex;
  justify-content: space-between;

  & input {
    // display: inline-block;
    border: none;
    width: 65%;
    height: 90%;
    padding: 0 1rem;
  }

  & input::placeholder {
    color: #b9b9b9;
  }

  & button {
    border: none;
    background: $maincolor;
    color: white;
    width: 28%;
    // height: 90%;
  }
}
