.Layout {
  // position: relative;
  max-width: 1200px;
  width: 95%;
  min-width: 300px;
  padding: 0 1.5rem;
  min-height: 100%;

  @media (min-width: $laptop) {
    width: 55%;
  }
}

.App {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  // min-height: 100vh;

  &-header,
  &-footer {
    // background-color: $maincolor;
    color: white;
    min-height: 2.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &-header::before,
  &-footer::before {
    min-width: 100vw;
    min-height: 3rem;
    content: '';
    position: absolute;
    left: 0;
    background-color: $maincolor;
    z-index: -20;
    padding: 1rem 0;
  }

  &-footer::before {
    background-color: $secondcolor;
  }
}
