.navigation {
  text-align: left;
  color: #cccccc;
  margin: 2rem 0 3rem;

  &-item {
    display: inline;

    &:not(:last-child)::after {
      display: inline-block;
      content: '';
      margin: 0 0.5rem;
      background-image: url('../../img/arrow_grey.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 1rem;
      height: 0.8rem;
    }
  }

  .active {
    color: $maincolor;
  }
}
