@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.Layout {
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-header,
.App-footer {
  background-color: #1c3b55;
  background-color: #3a80ba;
  color: white;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-footer {
  background-color: #1c3b55;
  position: absolute;
  bottom: 0;
  width: 99.3%;
}

a.App-link {
  color: #61dafb;
}
